########## Step 1: One Hot encoding our categorical data ########## 
#Goal: pre-processing data for feature selection with RFE ( Recursive Feature Elimination)

In [2]:
import numpy as np
import pandas as pd

# import preprocessing from sklearn
from sklearn import preprocessing

In [3]:
# load dataset
pathDataset = "../Dataset/results.xlsx"
original_dataset = pd.read_excel(pathDataset)

#Format date column to date time
#dataset['date'] = pd.to_datetime(X.date)
original_dataset['date'] =  pd.to_datetime(original_dataset['date'], format='%Y/%m/%d')
original_dataset['date'] =  pd.to_datetime(original_dataset['date'], format='%Y%-m-%d')
#dataset['date'] =pd.to_datetime(dataset['date'], format='%Y/%m/%d', errors='ignore')
#dataset['date'] =pd.to_datetime(dataset['date'], format='%Y%-m-%d', errors='ignore')

#X['date'] = X['date'].dt.strftime('%Y/%m/%d')
original_dataset.dtypes

#Display 3 first rows
original_dataset.head(140)

,date,home_team,away_team,home_score,away_score,tournament,city,country
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland
1,1872-11-30,England,Scotland,4,2,Friendly,London,England
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland
3,1875-03-06,England,Scotland,2,2,Friendly,London,England
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland
5,1876-03-25,Scotland,Wales,4,0,Friendly,Glasgow,Scotland
6,1877-03-03,England,Scotland,1,3,Friendly,London,England
7,1877-03-05,Wales,Scotland,0,2,Friendly,Wrexham,Wales
8,1878-03-02,Scotland,England,7,2,Friendly,Glasgow,Scotland
9,1878-03-23,Scotland,Wales,9,0,Friendly,Glasgow,Scotland
10,1879-01-18,England,Wales,2,1,Friendly,London,England
11,1879-04-05,England,Scotland,5,4,Friendly,London,England
12,1879-04-07,Wales,Scotland,0,3,Friendly,Wrexham,Wales
13,1880-03-13,Scotland,England,5,4,Friendly,Glasgow,Scotland
14,1880-03-15,Wales,England,2,3,Friendly,Wrexham,Wales
15,1880-03-27,Scotland,Wales,5,1,Friendly,Glasgow,Scotland
16,1881-02-26,England,Wales,0,1,Friendly,Blackburn,England
17,1881-03-12,England,Scotland,1,6,Friendly,London,England
18,1881-03-14,Wales,Scotland,1,5,Friendly,Wrexham,Wales
19,1882-02-18,Northern Ireland,England,0,13,Friendly,Belfast,Ireland
20,1882-02-25,Wales,Northern Ireland,7,1,Friendly,Wrexham,Wales
21,1882-03-11,Scotland,England,5,1,Friendly,Glasgow,Scotland
22,1882-03-13,Wales,England,5,3,Friendly,Wrexham,Wales
23,1882-03-25,Scotland,Wales,5,0,Friendly,Glasgow,Scotland
24,1883-02-03,England,Wales,5,0,Friendly,London,England
25,1883-02-24,England,Northern Ireland,7,0,Friendly,Liverpool,England
26,1883-03-10,England,Scotland,2,3,Friendly,Sheffield,England
27,1883-03-12,Wales,Scotland,0,3,Friendly,Wrexham,Wales
28,1883-03-17,Northern Ireland,Wales,1,1,Friendly,Belfast,Ireland
29,1884-01-26,Northern Ireland,Scotland,0,5,British Championship,Belfast,Ireland
...,...,...,...,...,...,...,...,...
110,1897-03-20,Wales,Scotland,2,2,British Championship,Wrexham,Wales
111,1897-03-27,Scotland,Northern Ireland,5,1,British Championship,Glasgow,Scotland
112,1897-03-29,England,Wales,4,0,British Championship,Sheffield,England
113,1897-04-03,England,Scotland,1,2,British Championship,London,England
114,1898-02-19,Wales,Northern Ireland,0,1,British Championship,Llandudno,Wales
115,1898-03-05,Northern Ireland,England,2,3,British Championship,Belfast,Ireland
116,1898-03-19,Scotland,Wales,5,2,British Championship,Motherwell,Scotland
117,1898-03-26,Northern Ireland,Scotland,0,3,British Championship,Belfast,Ireland
118,1898-03-28,Wales,England,0,3,British Championship,Wrexham,Wales
119,1898-04-02,Scotland,England,1,3,British Championship,Glasgow,Scotland
120,1899-02-18,England,Northern Ireland,13,2,British Championship,Sunderland,England
121,1899-03-04,Northern Ireland,Wales,1,0,British Championship,Belfast,Ireland
122,1899-03-18,Wales,Scotland,0,6,British Championship,Wrexham,Wales
123,1899-03-20,England,Wales,4,0,British Championship,Bristol,England
124,1899-03-25,Scotland,Northern Ireland,9,1,British Championship,Glasgow,Scotland
125,1899-04-08,England,Scotland,2,1,British Championship,Birmingham,England
126,1900-02-03,Scotland,Wales,5,2,British Championship,Aberdeen,Scotland
127,1900-02-24,Wales,Northern Ireland,2,0,British Championship,Llandudno,Wales
128,1900-03-03,Northern Ireland,Scotland,0,3,British Championship,Belfast,Ireland
129,1900-03-17,Northern Ireland,England,0,2,British Championship,Dublin,Ireland
130,1900-03-26,Wales,England,1,1,British Championship,Cardiff,Wales
131,1900-04-07,Scotland,England,4,1,British Championship,Glasgow,Scotland
132,1901-02-23,Scotland,Northern Ireland,11,0,British Championship,Glasgow,Scotland
133,1901-03-02,Wales,Scotland,1,1,British Championship,Wrexham,Wales
134,1901-03-09,England,Northern Ireland,3,0,British Championship,Southampton,England
135,1901-03-18,England,Wales,6,0,British Championship,Newcastle,England
136,1901-03-23,Northern Ireland,Wales,0,1,British Championship,Belfast,Ireland
137,1901-03-30,England,Scotland,2,2,British Championship,London,England
138,1902-02-22,Wales,Northern Ireland,0,3,British Championship,Cardiff,Wales
139,1902-03-01,Northern Ireland,Scotland,1,5,British Championship,Belfast,Ireland

In [4]:
# limit to categorical data using df.select_dtypes()
columns_categorical_subset = original_dataset.select_dtypes(include=[object])
columns_categorical_subset.head(3)

  home_team away_team tournament     city   country
0  Scotland   England   Friendly  Glasgow  Scotland
1   England  Scotland   Friendly   London   England
2  Scotland   England   Friendly  Glasgow  Scotland

In [5]:
# check original shape
columns_categorical_subset.shape

(38685, 5)

In [6]:
# view columns using df.columns
columns_categorical_subset.columns

Index(['home_team', 'away_team', 'tournament', 'city', 'country'], dtype='object')

In [7]:
# TODO: create a LabelEncoder object and fit it to each feature in X


# 1. INSTANTIATE
# encode labels with value between 0 and n_classes-1.
le = preprocessing.LabelEncoder()
le

# 2/3. FIT AND TRANSFORM
# use df.apply() to apply le.fit_transform to all columns
final_dataset = original_dataset.apply(le.fit_transform)
final_dataset.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country
0,0,184,64,0,0,47,559,201
1,0,65,180,4,2,47,890,68
2,1,184,64,2,1,47,559,201
3,2,65,180,2,2,47,890,68
4,3,184,64,3,0,47,559,201

In [8]:
# TODO: create a OneHotEncoder object, and fit it to all of X

# 1. INSTANTIATE
enc = preprocessing.OneHotEncoder()

# 2. FIT
enc.fit(final_dataset)

# 3. Transform
onehotlabels = enc.transform(final_dataset).toarray()
onehotlabels.shape
# Explication: 
# as you can see, you've the same number of rows 891
# but now you've so many more columns due to how we changed all the categorical data into numerical data

(38685, 17429)

In [9]:
onehotlabels

array([[ 1.,  0.,  0., ...,  0.,  0.,  0.],
       [ 1.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  1.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [10]:
type(onehotlabels)

numpy.ndarray

# Step 2: Selection Featrue with RFE Algorith

In [11]:
#final_dataset = pd.DataFrame(new_dataset)
final_dataset.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country
0,0,184,64,0,0,47,559,201
1,0,65,180,4,2,47,890,68
2,1,184,64,2,1,47,559,201
3,2,65,180,2,2,47,890,68
4,3,184,64,3,0,47,559,201

In [12]:
final_dataset_values = final_dataset.values
X = final_dataset_values[:,0:7]
Y = final_dataset_values[:,7]

In [13]:
Y

array([201,  68, 201, ..., 236,  10, 184])

# RFE Algorithm

In [ ]:
# Import packages
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

# feature extraction
model = LogisticRegression()
rfe = RFE(model, 4)
fit = rfe.fit(X, Y)
print("Num Features: %d" % fit.n_features_)
print("Selected Features: %s" % fit.support_)
print("Feature Ranking: %s" % fit.ranking_)

# Principal Component Analyse Algorithm

In [ ]:
#Import Package
from sklearn.decomposition import PCA

# feature extraction
pca = PCA(n_components=3)
fit = pca.fit(X)
# summarize components
print("Explained Variance: %s" % fit.explained_variance_ratio_)
print(fit.components_)

# Feature Importance Algorithm

In [ ]:
# feature extraction
model = ExtraTreesClassifier()
model.fit(X, Y)
print(model.feature_importances_)