########## Step 1: One Hot encoding our categorical data ########## 
#Goal: pre-processing data for feature selection with RFE ( Recursive Feature Elimination)

In [4]:
import numpy as np
import pandas as pd

# import preprocessing from sklearn
from sklearn import preprocessing

In [161]:
# load dataset
pathDataset = "../Dataset/results.xlsx"
original_dataset = pd.read_excel(pathDataset)

#Format date column to date time
#dataset['date'] = pd.to_datetime(X.date)
original_dataset['date'] =  pd.to_datetime(original_dataset['date'], format='%Y/%m/%d')
original_dataset['date'] =  pd.to_datetime(original_dataset['date'], format='%Y%-m-%d')
#original_dataset.dtypes
#original_dataset.describe()

#Add target column to our dataset 
#Create a new function:
def add_target(home, away):
    data = "equal"
    if home > away : 
        data = "Home winner"
    elif away > home : 
        data = "away winner"
    return data
original_dataset['target'] = original_dataset.apply(lambda x: add_target(x['home_score'], x['away_score']), axis=1)

#Display 3 first rows
original_dataset.head(5)

,date,home_team,away_team,home_score,away_score,tournament,city,country,target
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,equal
1,1872-11-30,England,Scotland,4,2,Friendly,London,England,Home winner
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,Home winner
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,equal
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,Home winner

# Representing our data ith scatterdata plo

In [ ]:
#faithful.columns = ['eruptions', 'waiting']

#plt.scatter(faithful.eruptions, faithful.waiting)
#plt.title('Old Faithful Data Scatterplot')
#plt.xlabel('Length of eruption (minutes)')
#plt.ylabel('Time between eruptions (minutes)')

In [162]:
# limit to categorical data using df.select_dtypes()
columns_categorical_subset = original_dataset.select_dtypes(include=[object])
columns_categorical_subset.head(3)

  home_team away_team tournament     city   country       target
0  Scotland   England   Friendly  Glasgow  Scotland        equal
1   England  Scotland   Friendly   London   England  Home winner
2  Scotland   England   Friendly  Glasgow  Scotland  Home winner

In [163]:
# check original shape
columns_categorical_subset.shape

(38685, 6)

In [164]:
# view columns using df.columns
columns_categorical_subset.columns

Index(['home_team', 'away_team', 'tournament', 'city', 'country', 'target'], dtype='object')

In [165]:
# TODO: create a LabelEncoder object and fit it to each feature in X
# 1. INSTANTIATE
# encode labels with value between 0 and n_classes-1.
le = preprocessing.LabelEncoder()
le

# 2/3. FIT AND TRANSFORM
# use df.apply() to apply le.fit_transform to all columns
final_dataset = original_dataset.apply(le.fit_transform)
final_dataset.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,target
0,0,184,64,0,0,47,559,201,2
1,0,65,180,4,2,47,890,68,0
2,1,184,64,2,1,47,559,201,0
3,2,65,180,2,2,47,890,68,2
4,3,184,64,3,0,47,559,201,0

In [9]:
onehotlabels

array([[ 1.,  0.,  0., ...,  0.,  0.,  0.],
       [ 1.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  1.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [166]:
# TODO: create a OneHotEncoder object, and fit it to all of X

# 1. INSTANTIATE
enc = preprocessing.OneHotEncoder()

# 2. FIT
enc.fit(final_dataset)

# 3. Transform
onehotlabels = enc.transform(final_dataset).toarray()
onehotlabels.shape
# Explication: 
# as you can see, you've the same number of rows 891
# but now you've so many more columns due to how we changed all the categorical data into numerical data

(38685, 17432)

In [167]:
type(onehotlabels)

numpy.ndarray

# Step 2: Selection Featrue with different Algorithm

In [168]:
#final_dataset = pd.DataFrame(new_dataset)
final_dataset.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,target
0,0,184,64,0,0,47,559,201,2
1,0,65,180,4,2,47,890,68,0
2,1,184,64,2,1,47,559,201,0
3,2,65,180,2,2,47,890,68,2
4,3,184,64,3,0,47,559,201,0

In [169]:
final_dataset_values = final_dataset.values
X = final_dataset_values[:,0:7]
Y = final_dataset_values[:,8]

In [175]:
Y

array([2, 0, 0, ..., 2, 0, 0])

# ############ Feature Engineering ############ 
# Univariate Selection

Statistical tests can be used to select those features that have the strongest relationship with the output variable.

In [176]:
# Feature Extraction with Univariate Statistical Tests (Chi-squared for classification)
import pandas
import numpy
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

# feature extraction
test = SelectKBest(score_func=chi2, k=4)
fit = test.fit(X, Y)

# summarize scores
numpy.set_printoptions(precision=3)

print("#######################################")
print(fit.scores_)
# summarize selected features
print("#######################################")
features = fit.transform(X)
print(features)

#######################################
[ 123831.588     220.04      811.776   24753.842   25386.289     184.688
    1238.151]
#######################################
[[    0     0     0   559]
 [    0     4     2   890]
 [    1     2     1   559]
 ...,
 [14737     1     1   393]
 [14738     3     1  1528]
 [14738     2     0   870]]

# RFE Algorithm
The Recursive Feature Elimination (RFE) method is a feature selection approach. It works by recursively removing attributes and building a model on those attributes that remain. It uses the model accuracy to identify which attributes (and combination of attributes) contribute the most to predicting the target attribute.

In [171]:
# Import packages
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

# feature extraction
model = LogisticRegression()
rfe = RFE(model, 2)
fit = rfe.fit(X, Y)
print("Num Features: %d" % fit.n_features_)
print("Selected Features: %s" % fit.support_)
print("Feature Ranking: %s" % fit.ranking_)

Num Features: 2
Selected Features: [False False False  True  True False False]
Feature Ranking: [6 3 4 1 1 2 5]

# Principal Component Analyse Algorithm

In [173]:
#Import Package
from sklearn.decomposition import PCA

# feature extraction
pca = PCA(n_components=4)
fit = pca.fit(X)

# summarize components
print("Explained Variance: %s" % fit.explained_variance_ratio_)
print("#########################")
print(fit.components_)

Explained Variance: [  9.84105650e-01   1.53157848e-02   2.80753829e-04   2.73366991e-04]
#########################
[[ -9.99995888e-01  -5.55297295e-04   6.99157855e-04   5.24843305e-05
    4.31125751e-05   1.16079190e-04  -2.72186541e-03]
 [ -2.72039760e-03  -5.99274033e-03  -3.17199248e-03   2.07945998e-05
    1.17683054e-05   2.46762553e-03   9.99970267e-01]
 [ -8.74019834e-04   4.52960639e-01  -8.91520190e-01   2.39746595e-04
   -3.63748062e-04   4.17622942e-03  -1.26107357e-04]
 [ -1.97952622e-04   8.91488843e-01   4.52901666e-01  -2.68585721e-05
    1.30252012e-06  -9.02383180e-03   6.80099351e-03]]

# Feature Importance Algorithm
You can see that we are given an importance score for each attribute where the larger score the more important the attribute. The scores suggest at the importance of plas, age and mass.

In [174]:
from sklearn.ensemble import ExtraTreesClassifier

# feature extraction
model = ExtraTreesClassifier()
model.fit(X, Y)
print(model.feature_importances_)

[ 0.03405402  0.02511753  0.02752762  0.43348468  0.43750319  0.01847099
  0.02384199]